<div *ngIf="!isUser" class="text-center tenant-change-component">
  <span>
    <button type="button" class="btn btn-outline-client" (click)="isUser = true">
      Deseja logar como Usuario?
    </button>
  </span>
</div>
<hr *ngIf="!isUser" />
<div
  *ngIf="isMultiTenancyEnabled && !isUser"
  class="text-center tenant-change-component"
>
  <span>
    <span *ngIf="tenancyName" title="{{ name }}">
      <strong>{{ tenancyName }}</strong>
    </span>
    <span *ngIf="!tenancyName">{{ "NotSelected" | localize }}</span>
    (<a href="javascript:;" (click)="showChangeModal()">
      {{ "Change" | localize }} </a
    >)
  </span>
</div>
<div *ngIf="isUser" class="text-center tenant-change-component">
  <span>
    <button type="button" class="btn btn-outline-institution" (click)="isUser = false">
      Deseja logar como instituição?
    </button>
  </span>
</div>
<style>
  .btn-outline-client {
    color: #C29B55;
    background-color: transparent;
    background-image: none;
    border-color: #C29B55;
  }
  .btn-outline-institution {
    color: #89BEEF;
    background-color: transparent;
    background-image: none;
    border-color: #89BEEF;
  }
</style>
