.landingPage-background {
  height: 100vw;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 92%, rgba(0,212,255,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 92%, rgba(0,212,255,1) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,1) 92%, rgba(0,212,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#00d4ff",GradientType=1);
}
